Django==5.1.2
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
channels==4.1.0
channels-redis==4.2.0
daphne==4.2.1
django-filter==24.3
psycopg[binary]==3.2.3
WeasyPrint==62.3
pydyf==0.10.0
whitenoise==6.7.0
Pillow==12.0.0
rembg==2.0.59
django-cors-headers==4.5.0
openpyxl==3.1.5
pandas==2.2.3
pyotp==2.9.0
qrcode==7.4.2
python-telegram-bot==21.4
python-dotenv==1.0.1
requests==2.32.3
